@charset "utf-8";
/* CSS Document */
.margin{ width:1200px; margin:0 auto;}



/* 顶部 */

#top{ height: 32px; border-bottom: 1px solid #e7e7e7; background: #f1f1f1;background: #f8f8f8;}
#top h2{float: left;font: 12px/32px "微软雅黑";color: #666;}
#top ul{float: right;line-height: 32px;}
#top ul li{float: left;width: 80px;text-align: center;height:32px; line-height: 32px;position: relative;}
#top ul li b{ position: absolute;right: 0; top: 0; color: #dfdfdf;font-weight: bold;}
/* top——li中的箭头旋转以及li的样式 */
#top ul li:hover i{transform:rotate(180deg); transform-origin: 50% 48%; transition: .2s;} 
#top ul li a{font: 12px/22px "";color: #666;line-height: 32px;}
#top ul li a i{width: 13px; height: 13px;display: inline-block;
margin-left: 3px; background: url(../images/isprite.png?v=860d90f686) 4px 4px no-repeat;vertical-align: middle;}
#top ul li .dl{width: 79px; background: #fff; position: absolute;left: -1px; top: 32px; border: 1px solid #f0f0f0;border-top-color:#fff ;z-index: 2;}
/* top——手机乐村淘 */
#top ul li .app{position: absolute;width: 540px;height: 196px;top:32px;left: -310px;overflow: hidden;border:1px solid #F0F0F0;border-top-color: #fff;background:#fff ;z-index: 3;}
#top ul li .app p{float: left;width: 180px; margin: 17px 0 0;}

/* top——网站导航 */
#top ul li .smap{width: 1200px; border: 1px solid #f0f0f0;padding: 14px 0 15px;position: absolute;top: 32px; right: -1px;background-color:#fff;z-index: 10;}
#top ul li .smap dl{width: 278px;float: left;border-right: 1px solid #f0f0f0;margin-left: 20px;}
#top ul li .smap dl.smap-r{border-right: none;}
#top ul li .smap dl dt{color: #333;font-size: 16px;text-align: center;line-height: 34px;}
#top ul li .smap dl dd .item{width: 86px;float: left;}



/* 搜索栏 */
#search{height:120px;position: relative;}
#search .logo{width: 240px; height: 117px; float: left;}
/*search—— 切换省份 */
#search .area{width: 84px; float: left; text-align: center;padding-top: 37px;}
#search .area dt{line-height: 26px; height: 26px;font:700 16px/26px "";color: #000;}
#search .area dd{width: 61px; height: 21px; border: 1px solid #e5e5e5; display: inline-block;position: relative;background-color: #fff;text-align: center;}
#search .area dd li{width: 59px; line-height: 34px; float: left;text-align: center;}
#search .area dd a{width: 61px; height: 21px; color: #a0a0a0;margin-top: 4px;display: block;}
#search .area dd ul area-a{width: 61px; height: 21px;color: #333;}
/* search——搜索框 */
#search .search-c{width: 439px;padding-top: 37px;float: left;margin-left: 58px;}
#search .search-c .inp{width: 368px;float: left;height: 34px;}
#search .search-c .inp .txt{border:1px solid #e60012;width: 255px; height: 32px;font: 12px/32px ""; outline: none;background: url(../images/search.png) 12px 7px no-repeat;padding-left: 41px;float: left;}
#search .search-c .inp .goods{width: 70px; height: 34px;background:#e60012;border: none;float: left;font: 12px/34px "";color: #fff;cursor: pointer;}
#search .search-c .search-c-m{height: 34px;float: left;}
#search .search-c .search-c-m .shop{float: left;width: 70px; height: 34px; line-height: 34px; font: 12px/34px "";color: #fff;border: none;cursor: pointer;background: #666;margin-left: 1px;}
#search .search-c .search-c-b{height: 22px;float: left;width: 368px;}
#search .search-c .search-c-b a{margin-right: 15px;color: #999;font: 12px/22px "宋体";}

/* search——电话 */
#search .tel{float:right;margin: 36px 0 0;height: 36px;width: 177px;background: url(../images/tel.png) no-repeat;position: relative;}
#search .tel span{width: 130px;text-align: left;position: absolute;right: 2px;top: 0;height: 13px;line-height: 13px;font-size: 12px;color: #666;padding-left: 40px;} 


/* nav */
#nav{height: 43px;border-bottom: 1px solid #E60012;}
#nav .nav-t{height: 43px;position: relative;}
#nav .nav-t .nav-t-b{width: 212px;position: absolute;left: 0;top: 0;z-index: 3;}
#nav .nav-t .nav-t-b dt{height: 42px;background-color: #f32613;padding-bottom: 2px;font-size: 16px;}
#nav .nav-t .nav-t-b dt a{width: 196px; height: 42px; line-height: 42px;display: block;padding-left: 16px;color: #fff;}
#nav .nav-t .nav-t-b dt .menu{width: 21px;height: 42px;display: inline-block;vertical-align: middle;margin-right: 10px;}
#nav .nav-r{width: 960px;float: left;margin-left: 216px;}
#nav .nav-r li{float: left;line-height: 42px;height: 42px;font-size: 16px;padding: 0 18px;}
#nav .nav-r li a{color: #000;}



#message{}
#message .message-t{text-align: left;height: 20px;padding: 10px 0;margin: 0 auto;}
#message .message-t i{}
#message .message-t i img{width: 13px;height: 13px;}
#message .message-t span{font-size: 12px;line-height: 20px;color: #999;display: inline-block;height: 20px;}
#message .message-t span.next{color: #aaa;}
#message .message-t span a{color: #777;}

#message .message-m{border: 1px solid #eee;margin-bottom: 10px;position: relative;z-index: 2;overflow: hidden;}
#message .message-m .message-m-l{width: 367px;background-color: #fff;position: absolute;z-index: 99;top: 0;left: 0;}
#message .message-m .message-m-l img{width: 360px;height: 360px;}
#message .message-m .message-m-c{position: relative;background-color: #fafafa;float: left;width: 622px;min-height: 460px;margin-left: 369px;border-right: 1px solid #eee;box-shadow: inset 4px 0 1px rgba(153,153,153,0.15); }
#message .message-m .message-m-c .message-m-c1{padding: 15px 25px;min-height: 58px;}
#message .message-m .message-m-c .message-m-c1 h1{font: 700 16px/21px "";color: #333;display: block;overflow: hidden;}
#message .message-m .message-m-c .message-m-c1 span{font-size: large;color: #e10f12;}
#message .message-m .message-m-c .message-m-c2{min-height: 57px;color: #fff;background: url(../images/msbg.jpg) no-repeat;padding: 10px 0;position: relative;z-index: 1;box-shadow: inset 4px 0 1px rgba(153,153,153,0.15);}
#message .message-m .message-m-c .message-m-c2 .pf{text-align: center;width: 100px;position: absolute;z-index: 1;top: 20px;right: 5px;}
#message .message-m .message-m-c .message-m-c2 .pf a{color:#fff;display: block;}
#message .message-m .message-m-c .message-m-c2 .pf .star{widows: 100px;line-height: 0px;vertical-align: middle;display: inline-block;}
#message .message-m .message-m-c .message-m-c2 .pf .star img{width: 16px;height: 16px;margin: 2px 0;display: inline-block;letter-spacing: normal;float: left;}
#message .message-m .message-m-c .message-m-c2 .shcj{}
#message .message-m .message-m-c .message-m-c2 .shcj dt{text-align: right;width: 96px;margin-right: 6px;font-size: 12px;line-height: 20px;vertical-align: top;padding: 2px 0;display: inline-block;}
#message .message-m .message-m-c .message-m-c2 .shcj dd{text-align: left;width: 410px;font-size: 12px;line-height: 20px;vertical-align: top;padding: 2px 0;min-height: 20px;display: inline-block;}
#message .message-m .message-m-c .message-m-c2 .shcj dd strong{text-decoration: line-through;}
#message .message-m .message-m-c .message-m-c2 .scj{}
#message .message-m .message-m-c .message-m-c2 .scj dt{text-align: right;width: 96px;margin-right: 6px;font-size: 12px;line-height: 20px;vertical-align: top;padding: 2px 0;display: inline-block;}
#message .message-m .message-m-c .message-m-c2 .scj dd{text-align: left;width: 410px;font-size: 12px;line-height: 20px;vertical-align: top;padding: 2px 0;min-height: 20px;display: inline-block;}
#message .message-m .message-m-c .message-m-c2 .scj dd strong{color: #fff;font-size: 20px;font-weight: 600;vertical-align: middle;}











#message .message-m .message-m-r{}







