@charset "utf-8";
/* CSS Document */
body{background: #f8f8f8;}
.margin{ width:1000px; margin:0 auto;}


/* 用户登陆 */
#login{height: 97px;margin: 0 auto;}
#login p{float: left;height: 73px;line-height: 73px;padding-top: 14px;}
#login p span{display: inline-block;float: left;height: 73px;padding-right: 21px;}
#login p i{display: inline-block;float: left;width: 1px;height: 17px;background: #b5b5b5;margin-top: 27px;}
#login p b{display: inline-block;float: left;padding-left: 21px;color: #333;font-size: 24px;}
#login h2{float: right;font-size: 18px;padding-top: 67px;}
#login h2 a{color: #333;}
#login{border-bottom: 2px solid #eb0000;}



#main{width: 100%;height: 655px;background: url(../images/main.jpg) no-repeat center;}
















